{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {
          "corejs": "3.8.1",
          "useBuiltIns": "entry"
        }
      }
    ]
  ],
  "plugins": [
    [
      "react-intl",
      {
        "idInterpolationPattern": "[sha512:contenthash:base64:6]",
        "extractFromFormatMessageCall": true,
        "ast": true
      },
      "emotion"
    ]
  ]
}